@mixin cat_active($b: true) {
    color: if($b, $bg-color, $cat-color);
    background-color: if($b, $primary, inherit);
    border-color: $bg-color;
}

@mixin video_hidden() {
    width: 0;
    @include opacity(0);
}

@mixin video_shown() {
    width: 25%;
    @include opacity(1);
    @media screen and (max-width: 768px) {
        width: 50%;
    }
}